body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
header {
    background-color: #ffffff;
    padding: 20px;
    color: white;
    display: flex;
    display: center;
    justify-content: space-between;
    border: 2px solid #444;    
    border-radius: 12px;         
    padding: 20px;              
    width: 94%;                 
    margin: 20px auto;           
    background-color: white;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20%;
}

.titulo1 {
    background: linear-gradient(to right, rgb(3, 3, 3), rgb(182, 182, 181));
      color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip:text;
}
.neon {
   text-shadow:
    0 0 5px #000000, 
    0 0 10px #000000,
    0 0 20px #000000, 
    0 0 40px #000000,
    0 0 80px #000000;
  font-size: 3rem; 
}
.titulo3 {
 display: flex;
    justify-content: center;
    align-items: center;

 }
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    border: 2px solid #444;    
    border-radius: 10px;         
    padding: 20px;              
    width: 94%;                 
    margin: 10px auto;           
    background-color: #b1adad;    
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.container {
    display: flex;
    margin: 20px;
    
    
}
.contenido {
    flex: 3;
    margin-right: 20px;
    
}
.agenda {
    flex: 1%;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #444;    
    border-radius: 10px;         
    padding: 10px;
    border: 2px solid rgb(0, 0, 0)              
    width: 10%;                 
    margin: 10px auto;
    background-color: #dcd7d7;
    align-items: center;
    justify-content: space-between;    
}

article{
    border: 2px solid #444;    
    border-radius: 10px;         
    padding: 20px;
    border: 2px solid rgb(0, 0, 0)                               
    margin: 20px auto;
    background-color: #e3e1e1; 
    justify-content: space-between;              
/*-----------------------------------*/
    padding: 50px;
    border-radius: 10px;
    margin-left: %;
    float: left; 
    margin-right: 15px; 
    margin-bottom: 15px;
}

article img {
  float: left; 
  margin-right: 15px; 
  margin-bottom: 15px;

    
}
article,h2 {
    text-align: left;
    margin-top: left;
}

footer {
    background-color: black 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


